<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detect Vest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function handleResult(response) {
            document.getElementById('result').innerHTML = '<img src="/display_image/' + response.result_image + '" /><p>' + response.summary_text + '</p>';
        }

        async function uploadFile(event) {
            event.preventDefault();
            const formData = new FormData(event.target);

            const response = await fetch(event.target.action, {
                method: 'POST',
                body: formData
            });

            const result = await response.json();
            handleResult(result);
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Upload Image to Detect Vest</h1>
        <form action="{{ url_for('upload_image') }}" method="post" enctype="multipart/form-data" onsubmit="uploadFile(event)">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
        <div id="result"></div>
        <a href="{{ url_for('index') }}">Back to Home</a>
    </div>
</body>
</html>
